---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Ajout personnalisé ici :
.masthead {
  background-color: transparent !important;
}

.masthead__inner {
  background-color: transparent !important;
  box-shadow: none !important;
}

body {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
