---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
  background-image: url('/assets/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.page__hero {
  background-color: rgba(255, 255, 255, 0.8) !important; /* fond semi-transparent */
  background-image: none !important; /* supprime l'image de fond par défaut */
  color: #111 !important; /* texte noir */
}

.page__hero::before {
  background: none !important; /* supprime l'overlay sombre ou clair */
}
